* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 16px;
  strong {
    color: hsl(160deg, 100%, 30%);
  }
}
.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);

  .intro-chunk {
    padding-inline: 24px;
    max-width: 500px;
    padding-block-start: 96px;
    padding-block-end: 48px;
    .title {
      font-size: 2rem;
      line-height: 2.25rem;
      font-weight: 800;
      margin-bottom: 48px;
    }
    p {
      font-weight: 400;
    }
  }
}

main {
  padding-block-start: 64px;
  background-color: hsl(0deg, 0%, 40%);
  height: 100%;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  padding-inline: 24px;
  padding-block: 8px;
  .indented-heading {
    margin-inline-start: -32px;
    padding: 16px 32px;
    width: fit-content;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 800;
    margin-block: 0;
    background-color: hsl(45deg, 100%, 50%);
    border-bottom: 8px solid hsl(45deg, 100%, 40%);
  }
}
